.cardMenu {
    position: absolute;
    right: 20px;
    top: 20px;
}

.cardMenuButton {
    display: block;
    width: 20px;
    height: 20px;
    background-color: #ddd;
}

.cardMenuButton svg {
    display: none;
}

.cardMenu .cardMenuDropDown {
    display: none;
    position: absolute;
    right: 0;
    padding-top: 5px;
}

.cardMenu:hover .cardMenuDropDown {
    display: block;
}