button {
  background: transparent;
  border: 0;
  padding: 0;
  cursor: pointer;
}

.card {
  position: relative;
  background-color: var(--white);
  border-radius: 7px;
  padding: 20px 20px 10px;
  display: flex;
  flex-flow: row wrap;
}

.card > *, .textContent > * {
  flex: 1 1 100%;
}

.card > * + * {
  padding: 13px 0 0;
}

.card:hover h2 a, .card:focus-within h2 a {
  color: var(--orange);
}

